<%- include('partials/header.ejs') %>

<div class="container">
<h1 class="heading">About Me</h1>
<img class="profile" src="images/profile.jpeg" alt="my profile">
<p class="aboutMe">
    As an experienced software engineer with three years of practical know-how, I am currently pursuing a graduate degree in Computer Science at Indiana University Bloomington. My passion lies in web development and data analysis, where I strive to explore new technologies that enhance the user experience, make interfaces seamless, and derive insights from data.
    With a strong software engineering background and a keen interest in data analysis, I'm dedicated to delivering high-quality solutions, driving innovation, and using data to make informed decisions. By combining my expertise in development and analysis, I aim to create impactful solutions that integrate both disciplines and provide valuable insights to drive business success.
    I believe in the harmony between art and technology. Outside of work, I enjoy exploring different art forms like Zentangle and Geometric art. These creative outlets inspire me to approach projects with a fresh perspective and find innovative solutions.

  </p>
</div>

  <%- include('partials/footer.ejs') %>
