<%- include('partials/header.ejs') %>

<div class="container">
<h1 class="heading">API Contributor</h1>
<p class="aboutAPI">
    <a href="https://platform.metaphor.systems/">Metaphor</a> seeks to rejuvenate the search experience using the power of large language models like GPT-3. 
    They receive funding, acquire GPU resources, and set out to improve internet search. 
    Their goal is to make it feel like a personalized journey through human knowledge. 
    After extensive experimentation, they developed a unique approach based on the idea that how people describe a 
    link can indicate its content and quality. They trained a neural network to predict links from text descriptions, 
    offering a novel way to search. This approach allows users to search with descriptors, find specific entity types, 
    uncover content missed by traditional search engines, and search by reference links. 
    Overall, Metaphor aims to provide a more intuitive and personalized internet search experience.
  </p>
</div>
  <%- include('partials/footer.ejs') %>
